/* First, reset everything */

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* End of reset. Now start making things pretty */

body {
	/* Sizes */
	width: 100%;
	position: relative;
	margin: 0 auto;
	
	/* Typography */
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	
	/* Colors */
	background: #565656;
	color: #fff;
}

header, nav[role=navigation], article {
	padding: 10px;
}

nav[role=navigation], article {
	max-width: 748px;
	position: relative;
	margin: 0 auto;
}
	
header[role=banner] {
	height: 10.2142851em; /* 143px / 14 */
	background: #5c5c5c;
	overflow: hidden;
	
	background: url('pix/logo-vertical.png') no-repeat 50% 2em;
	background: url('pix/logo-vertical.png') no-repeat 50% 2em, url('pix/bg-noise.png') repeat 0 0;
}

header[role=banner] h1, header[role=banner] span {
	font-size: 6em;
	line-height: 1.5em;
	display: block;
	text-align: center;
	font-family: "Lobster";
	
	opacity: 0;
}
header[role=banner] h1 a, header[role=banner] span a {
	color: #fff;
	text-decoration: none;
}

/* Some headers */
	h1, h2, h3, h4 {
		font-family: "Lobster";
	}
	h2 {
		font-size: 4em;
	}
	h3 {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	h2, h3, h4 {line-height: 1.5em;}
/* End of some headers */

/* Main navigation */
	nav[role=navigation] {
		border: 1px solid #2f2f2f;
		background: rgb(62,62,62); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(62,62,62,1) 70%, rgba(35,35,35,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(62,62,62,1)), color-stop(100%,rgba(35,35,35,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
	
		width: 220px;
		position: relative;
		margin: 2em auto 3em auto;
		
		padding: 0;
	}
	
	nav[role=navigation] ul {
		padding: 0;
	}
	nav[role=navigation] ul li {
		border-bottom: 1px solid #2f2f2f;
		height: 2em;
	}
	nav[role=navigation] ul li:last-of-type {
		border-bottom: none;
	}
	nav[role=navigation] ul li a {
		display: block;
		font-size: 1.25em;
		line-height: 1.75em;
		
		color: #fff;
		text-decoration: none;
		
		padding: 0 10px;
	}
	nav[role=navigation] ul li a:hover {
		background: rgba(255,255,255,0.2);
	}
	nav[role=navigation] ul li.current_page_item a {
		background-color: #202020; 
	}
/* End of main navigation */

/* Footer */
	footer {
		background: #2b2d30;
		padding: 10px;
		clear: both;
	}
	
	footer span#tagline {
		font-family: "Lobster";
		font-size: 1.857144286em; /* 26px */
		line-height: 1em;
		color: #535353;
	}
/* End of footer */

/* Frontpage sliders */
	#frontpage-slider {
		background: #2b2d30;
	}
/* End of frontpage sliders */

/* Arrow headers */
	#frontpage-slider h3 {
		font-size: 1.42857143em; /* 20px */
		-webkit-border-image: url('pix/blueflag-border.png') 17 17 17 17;
		-moz-border-image: url('pix/blueflag-border.png') 17 17 17 17;
		-o-border-image: url('pix/blueflag-border.png') 17 17 17 17;
		border-image: url('pix/blueflag-border.png') 17 17 17 17;
		border-width: 17px;
		width: 200px;
	}
	
	#frontpage-slider article {
		padding-bottom: 4em;
	}
	
	#frontpage-slider article h3 {
		position: relative;
		margin-top: -38px;
	}
	
	#frontpage-slider article:nth-of-type(2) {
		background: #565656;
		background: url('pix/bg-noise.png') repeat 0 0;
	}
/* End of arrow headers */
	
/* The "Kika" link */
	#frontpage-slider article > a, #blogexcerpt article > a {
		background: rgb(236,156,52); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(236,156,52,1) 56%, rgba(235,104,43,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(56%,rgba(236,156,52,1)), color-stop(100%,rgba(235,104,43,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(236,156,52,1) 56%,rgba(235,104,43,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(236,156,52,1) 56%,rgba(235,104,43,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(236,156,52,1) 56%,rgba(235,104,43,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(236,156,52,1) 56%,rgba(235,104,43,1) 100%); /* W3C */
		
		display: block;
		height: 32px;
		line-height: 32px;
		width: 129px;
		border-radius: 15px;
		
		margin-top: 1em;
		
		color: #fff;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
	}
	#frontpage-slider article > a:after {content: '!';}
/* End of "Kika" link */
	
/* The Twitter box */
	body #twitter {position: relative; }
	
	#twitter {
		margin: 1em 1em 2em 10px;
		max-width: 400px;
		overflow-x: visible;
	}
	
	body #twitter #a-horse-with-no-name{
		position:absolute; 
		top: 0;
		right: -10px;
		z-index: 99999;
	}
/* End of twitter */


/* Media queries for screens that are bigger than 480px */
@media all and (min-width: 481px) {
	/* Move main navigation, resize header and move logo */
	header[role=banner] {
		height: 14.2857143em; /* 200px */
		background-position: 100% 2em;
	}
	
	nav[role=navigation] {
		position: absolute;
		top: 0;
		left: 1em;
	}
	
	body #twitter #a-horse-with-no-name{
		right: -40px;
	}
	
	article {
		text-align: justify;
	}
	
	header, nav[role=navigation], article {
		padding: 20px;
	}
	#twitter {
		margin-left: 20px;
	}
	
	
} /* End of >481px

/* > 640px */
@media all and (min-width: 641px) {
	/* Add some whitespace */
		header, article {
			padding: 2em;
		}
		nav[role=navigation] {
			left: 2em;
		}
		#frontpage-slider article h3 {
			margin-left: -1em;
			margin-top: -2.85em;
		}
	
	/* Change size of header */
	header[role=banner] {
		height: 10em;
	}
	
	/* Change the orientation of the menu */
		nav[role=navigation] {
			width: 68%;
			height: 49px;
			top: 3em;
			
			background: none;
			border: none;
			/*background: url('pix/bg-gradient.png') no-repeat 0 0;*/
		}
		nav[role=navigation] ul {
			display: -webkit-box;
			display: -moz-box;
			display: box;
			
			width: 100%;
			max-width: 768px;
			margin: 0 auto;
		}
		nav[role=navigation] ul li {
			-webkit-box-orient: horizontal;
			-webkit-box-flex: 1;
				
			-moz-box-orient: horizontal;
			-moz-box-flex: 1;
				
			box-orient: horizontal;
			box-flex: 1;
			
			border: 1px solid #2f2f2f;
			border-left: none;
			border-right: none;
			
			height: 49px;
			text-align: center;
			
			background: rgb(62,62,62); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(62,62,62,1) 70%, rgba(35,35,35,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(62,62,62,1)), color-stop(100%,rgba(35,35,35,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
			background: linear-gradient(top, rgba(62,62,62,1) 70%,rgba(35,35,35,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
		}
		nav[role=navigation] ul li:first-of-type {
			border-left: 1px solid #2f2f2f;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		nav[role=navigation] ul li:last-of-type {
			border-left: 1px solid #2f2f2f;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom: 1px solid #2f2f2f;
		}
		nav[role=navigation] ul li a {
			line-height: 49px;
		}
		nav[role=navigation] ul li:first-of-type a {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		nav[role=navigation] ul li:last-of-type a {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		
		/* Float twitter and latest blog post */
		body #blogexcerpt, body #twitter {
			-webkit-box-sizing: border-box;
			float: left;
			width: 50%;
			max-width: 342px; /* 768px - gutters (3x 2em (28px)) / 2 = 768 - 84 = 684px / 2 )= 342px */
			padding: 2em;
			margin:0 0 50px 0; 	
			position: relative;
		}
		body #twitter {
			padding: 2em 2em 2em 2em;
		}
		body #twitter #a-horse-with-no-name {
			position: absolute;
			right: -40px;
			top: 45px;
			z-index: 9999;
		}
		
		/* Twitter stuff */
		body #twitter #twitterbox {
			background-color: #7d7d7d;
			border-top-left-radius: 15px; 
			border-bottom-right-radius: 15px;
		    width: 100%;
			padding: 5px 0 0 20px;	
		}
}
